<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

      body {
        background-color: lightskyblue;
        font-family: 'Nunito', sans-serif;
        font-size: 22px;
        padding: 20px;
      }
    </style>
  </head>
  <body>
      <span><%= data %></span>
  </body>
</html>
